nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 8rem;
  padding: 0 3rem;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4rem 2rem 4rem rgba(0, 0, 0, 0.03);
}

ul {
  display: flex;
  gap: 20px;
}

li {
  list-style: none;
}
