@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --font: 'Montserrat', sans-serif;
  --font-display-size: 4rem;
  --font-quote-size: 1.8rem;
  --background: #e8e8e8;
  --calc-background: #1b1b1b;
  --btn-background: #505050;
}

html {
  box-sizing: border-box;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;

  /* outline: 1px solid red !important; */
}

body {
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}

#root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  gap: 3rem;
}
